@import url('https:https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #303439;
    
}

a {
    color: #fff;
    text-decoration: none;

}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    background-color: #303439;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;

    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #e77e50;
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1 {
    font-size: 55px;

}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}
.home-info h2 span {
    color: #e77e50;
    
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;


}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid  #e77e50;
    border-radius: 50%;
    font-size: 20px;
    color: #e77e50;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover {
    color: #ddd;

}
.home-info .btn-sci .sci a:hover {
    background: #e77e50;
    color: #1f242d;
    box-shadow: 0 0 10px   #e77e50;

} 

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}


   

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: 1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}



.about-me {
    background-color: #2a303c; 
    color: rgb(247, 241, 241); 
    height: 100vh;
    padding: 40px 9% 0;   
    text-align: center; 

}
  
  
  #container {
    max-width: 850px;  
    margin: 0 auto;
}
  
  .about-me h1 {
    font-size: 3rem;
    color: #f3e9e9;
    margin-bottom: 20px;
   
}
.about-me span {
    color: #e77e50;
}
  
  .about-me p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}
.portfolio {   
    padding: 10px 0;
}

.portfolio h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #e77e50;
}

.portfolio-items {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.portfolio-item {
 
    margin: 5px;
    padding: 5px;
    width: auto;
    text-align: center;    
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    webkit-box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    moz-box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    
}

.portfolio-item img {
    width: 50%;
    border-radius: 8px;
}

.portfolio-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.portfolio-item p {
    font-size: 1rem;
}
.portfolio-item1 {
 
    margin: 5px;
    padding: 5px;
    width: auto;
    text-align: center;    
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.portfolio-item1:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    webkit-box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    moz-box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    
}

.portfolio-item1 img {
    width: 40%;
    border-radius: 8px;
 
}

.portfolio-item1 h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.portfolio-item1 p {
    font-size: 1rem;
}

/* skill */

.skill {
    height: 100vh;
    padding: 40px 9% 0;   
    text-align: center; 
}
.skill h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.killings {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}
.killing {
    margin: 5px;
    padding: 15px 0 15px;
    width: 200%;
    text-align: center;    
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.killing:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    webkit-box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    moz-box-shadow: 0px 0px 14px 18px rgba(108,117,125,0.44);
    
}

.killing img {
    border: 8px;
    width: 300px;
    transition: transform 0.3s ease;
    
}
.killing img:hover {
    transform: scale(0.90);
}
.killing p {
    font-size: 20px;
    color: #fff;
}
.killing p span {
    color: #e77e50 !important;
    font-size: 20px;
}
/* Contact Section */
.contact {
    height: 100vh;
    padding: 60px 10% 0;  
    color: #fff;
    text-align: center;
    
}

.contact h2 {
    font-size: 3rem; 
    margin-bottom: 30px;  
}
.contact h2 span {
    color: #e77e50;
}

.contact p {
    font-size: 2rem; 
    margin-bottom: 20px;
}

.contact form {
    max-width: 700px;  
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 15px; 
    margin: 15px 0;  
    border: 1px solid #ddd;
    border-radius: 6px;  
    font-size: 1rem;  
}

.contact form button {
    background-color:#e77e50;
    color: white;
    padding: 15px 30px;  
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 1s;
}

.contact form button:hover {
    background-color: #debaaa;
    color: #1f242d;
    box-shadow: 0 0 10px coral
    

}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
    font-size:1rem;
}